@import '../../variables.scss';

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;

  &_logo {
    font-size: 3rem;
    font-weight: 700;
    color: $color-primary;
    text-decoration: none;
  }
}
