.todo_item_wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 800px;
  margin: 20px 0;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;

  .todo_item_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    overflow: auto;
    font-size: 2.4rem;
  }

  .todo_icons {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    margin-left: 1rem;
  }

  .icon {
    width: 3.5rem;
    cursor: pointer;
  }

  .icon + .icon {
    margin-left: 1rem;
  }
}
