@import './normalize.scss';

html {
  font-size: 62.5%; /* Makes the root font size to 10px for default browsers */
}

body {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

// Skriva global styling för form

form {
  input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    outline: none;
  }

  button {
    margin-left: 1rem;
  }
}


button {
  border: none;
  border-radius: 5px;
  padding: 1.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
}

button + button {
  margin-left: 1rem;
}